<% provide(:title, "About") %>
<h1>Available Logins</h1>

<p>To log in, visit the <%= link_to "log in page", login_path %>  and use one of the following credentials:</p>

<table>
  <tr>
    <th>Email</th>
  </tr>

  <tr>
    <td>foobar@example.com</td>
  </tr>

  <tr>
    <td>example@example.com</td>
  </tr>      

  <tr>
    <td>hello@example.com</td>
  </tr>  

</table>
