<% provide(:title, "Home") %>
<h1>Private Events</h1>
<p>Private Events allows users to create and attend events.  Users are able to access a list of all upcoming and past events, as well as a list of their own events, both past and upcoming.  </p>

<p>To begin, <%= link_to "log in", login_path %> with one of the publically <%= link_to "available accounts", about_path %>, or <%= link_to "create", signup_path %> your own account.  </p>
